<div class="header">
	<div class="container">
		<div class="row no-gutter">
		<div id="wrapper_bu" class="col-lg-12" style="min-height: 350px;">
<div id="bu1"><p class="txt_Center txt_h1"><%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %></p></div>
<div id="bu2"><p class="txt_Center txt_h1"><%= image_tag("buddhism.png", :alt => "buddhism", :class => "buddhism") %></p></div>
<div id="bu3"><p class="txt_Center txt_h1"><%= image_tag("sikh.png", :alt => "sikh", :class => "sikh") %></p></div>
<div id="bu4"><p class="txt_Center txt_h1"><%= image_tag("ayur.png", :alt => "ayur", :class => "ayur") %></p></div>
<div id="bu5"><p class="txt_Center txt_h1"><%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %></p></div>
</div>
</div>
		
		
		<!--
		<div class="row no-gutter">
					<div class="col-lg-3 img">
						<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
					</div>
					<div class="col-lg-3 img1">
						<%= image_tag("buddhism.png", :alt => "buddhism", :class => "buddhism") %>
					</div>
					<div class="col-lg-3 img2">
						<%= image_tag("sikh.png", :alt => "sikh", :class => "sikh") %>
					</div>
					<div class="col-lg-3 img3">
						<%= image_tag("ayur.png", :alt => "ayur", :class => "ayur") %>
					</div>
				</div>
				-->
		
		
		
		<div class="text">
			Discover your Culture
		
				<button class="btn btn-primary">Get Started</button>
				<button class="btn btn-primary ml10">Take a Tour</button>
				
		</div>
		<div class="text1 pb15">
			Reach your soul !! Live healthy, spiritual, and a stress free life!
		</div>
	</div>
</div>

<div class="subhead">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<div class="text2 shape">
					<a href="#"> <span class="glyphicon glyphicon-menu-hamburger"></span> Browse The Library </a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box2">
					<input type="search" class="form-control" />
				</div>
				<button class="btn box3 search">
					Search
				</button>
			</div>
		</div>
	</div>
</div>
<div class="image">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="box4">
					<h1>Yoga</h1>

					<div>
						Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .
					</div>
					<div class="cricle">
						<span class="glyphicon glyphicon-play play"></span>
					</div>
					<div class="text2">
						Browse all Yoga Videos
					</div>
				</div>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</div>
<div class="image1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-8">
				<div class="text3">
					<h1>Buddhism</h1>
					<div class="text3">
						Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .
					</div>
					<div class="text3">
						Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .
					</div>
					<div class="cricle">
						<span class="glyphicon glyphicon-play play"></span>
					</div>
					<div class="text2">
						Browse all Yoga Videos
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class=" image2">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="text3">
					<h1 class="text4">Sikhism</h1>
					<div class="text4">
						Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .
					</div>
					<div class="text4">
						Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .
					</div>
					<div class="cricle">
						<span class="glyphicon glyphicon-play play"></span>
					</div>
					<div class="text5">
						Browse all Sikhism Videos
					</div>
				</div>
			</div>
			<div class="col-lg-4 ">
				<%= image_tag("sikhlogo.png", :alt => "sikhlogo") %>
			</div>
		</div>
	</div>
</div>

<div class="image3">
	<div class="container">
		<div class="row>"
		<div class="col-xs-8 col-sm-4 pad"></div>
		<div class="col-xs-8 col-sm-4 pad"></div>
		<div class="col-xs-6 col-sm-4 pad"></div>
		<div class="col-xs-6 col-sm-4 pad"></div>
		</div>
		<div class="container">
		<div class="row">
		<div class="col-lg-8">
		<div class="text3">
		<h1 class="text6">Sikhism</h1>
		<div class="text6">Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</div>

		<div class="cricle"><span class="glyphicon glyphicon-play play"></span>
		</div>
		<div class="text5"> Browse all Sikhism Videos</div>
		</div>
		</div>
		<div class="col-lg-4"></div>
		</div>
		</div>
		</div>
		<div class="image4">
		<div class=" container">
		<div class="row">
		<div class="col-lg-12">
		<h1 class="texts">Our Clients like us too</h1>
		</div>
		</div>
		<div class="row">
		<div class="col-lg-2">
		<%= image_tag("photo.png", :alt => "photo") %></div>
		<div class=" col-lg-10">
			<div class="box5">
				<!-- <span class="glyphicon glyphicon-triangle-left"></span> -->
				<div>
					“Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”
				</div>
			</div>
			<div class=" jose">
				Jishnu Kinwar, San Jose
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="texts">Ready to learn</h1>
		</div>
		<div class="row mb10">
			<div class="col-lg-5"></div>
			<div class="col-lg-2">
				<button class="btn btn-primary btn-sm">
					Get started
				</button>
			</div>
		</div>
		<div class="col-lg-5"></div>
	</div>
</div>

<div class="footer">
	<div class=" container">
		<div class="row">
			<div class="col-lg-12 ftexts colorfff">
				Conditions of Use - Privacy Notice© 2015, Cultural Hoops or its affiliates
			</div>
		</div>
	</div>
</div>

/*******************POPUP MODAL HTML START*******************/
<!-- JOIN NOW START -->
<div class="modal fade" id="join" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-join">
    <div class="modal-content">
    <!--
    
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Signup</h4>
          </div>-->
    
      
      
      
      
      
      
      
      <div class="modal-body">
      	<div class="row">
      	<div class="col-lg-6">
            <h1 class="modal-title" id="myModalLabel">Signup</h1>
            <form>
            	<div class="row">
            		<div class="col-lg-4">Name:</div>
            		<div class="col-lg-8"><input type="text" class="form-control"></div>
            		
            	</div>
            	<div class="row mt10">
            		<div class="col-lg-4">Email:</div>
            		<div class="col-lg-8"><input type="email" class="form-control"></div>
            		
            	</div>
            	<div class="row mt10">
            		<div class="col-lg-4">Password:</div>
            		<div class="col-lg-8"><input type="password" class="form-control"></div>
            		
            	</div>
            	<div class="row mt10">
            		<div class="col-lg-4">Gender:</div>
            		<div class="col-lg-2"><input type="radio"> <label>Male</label></div>
            		<div class="col-lg-6"><input type="radio"><label>Female</label> </div>
            		
            	</div>
            	
            		<div class="row mt10">
            		<div class="col-lg-12 tac"><button class="btn btn-primary">Sign up with Cultural Hoops</button></div>
            		
            	</div>
            	<div class="row mt10">
            		<div class="col-lg-12 tac">*By Signing Up, you agree to the T&C</div>
            		<div class="col-lg-5">-----------------</div>
            		<div class="col-lg-2">OR</div>
            		<div class="col-lg-5">-----------------</div>
            		<div class="col-lg-6"><button>Login with Facebook</button></div>
            		<div class="col-lg-6"><button>Loging with Google</button></div>
            	</div>
            	
            	
            </form>
            
            
    
      </div>
      <div class="col-lg-6">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
        	<div class="col-lg-12"><h2>Benefit of Joining Cultural Hoops</h2></div>
        </div>
        <div class="row">
        	<div class="col-lg-12"><ul><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li><li>ipsum dolor sit amet</li></ul></div>
        </div>
        
        
      </div>
      </div>
      
      
      </div>
      <!--
      <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
      
    </div>
  </div>
</div>
<!-- JOIN NOW END -->


<!-- SIGN IN START -->
<div class="modal fade" id="login" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
      	<div class="row">
      	<div class="col-lg-12">
      		 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h1 class="modal-title" id="myModalLabel">Sign in</h1>
            <form>
            
            	<div class="row mt10">
            		<div class="col-lg-4">Email:</div>
            		<div class="col-lg-8"><input type="email" class="form-control"></div>
            		
            	</div>
            	<div class="row mt10">
            		<div class="col-lg-4">Password:</div>
            		<div class="col-lg-8"><input type="password" class="form-control"></div>
            		
            	</div>
            	
            	
            		<div class="row mt10">
            		<div class="col-lg-12 tac"><button class="btn btn-primary">Login</button></div>
            		
            	</div>
            	<div class="row mt10">
            		<div class="col-lg-12 tac">*By Signing Up, you agree to the T&C</div>
            		<div class="col-lg-5">-----------------</div>
            		<div class="col-lg-2">OR</div>
            		<div class="col-lg-5">-----------------</div>
            		<div class="col-lg-6"><button>Login with Facebook</button></div>
            		<div class="col-lg-6"><button>Loging with Google</button></div>
            	</div>
            	
            	
            </form>
            
            
    
      </div>
     
      </div>
      
      
      </div>
      <!--
      <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
      
    </div>
  </div>
</div>
<!-- JOIN NOW END -->
/*******************POPUP MODAL HTML END*******************/
