

<div class="header">
<div class="container">
<div class="row no-gutter">
<div class="col-lg-3 img"> <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %></div>
<div class="col-lg-3 img1"><%= image_tag("buddhism.png", :alt => "buddhism", :class => "buddhism") %></div>
<div class="col-lg-3 img2"><%= image_tag("sikh.png", :alt => "sikh", :class => "sikh") %></div>
<div class="col-lg-3 img3"><%= image_tag("ayur.png", :alt => "ayur", :class => "ayur") %></div>
</div>
<div class="text">Discover your Culture 
<div class="box get">Get started</div>
<div class="box1 get"> Take a Tour</div>
</div>
<div class="text1">Reach your soul !! Live healthy, spiritual, and a stress free life!</div>
</div>
</div>

<div class="subhead">
<div class="container">
<div class="row">
<div class="col-lg-8">

<div class="text2 shape"><a href="#"> <span class="glyphicon glyphicon-menu-hamburger"></span> Browse The Library </a></div></div>
<div class="col-lg-4">
<div class="box2"><input type="search" class="form-control" /> </div>
<button class="btn box3 search"> Search</button>
</div>
</div>
</div>
</div>
<div class="image">
 <div class="container">
 <div class="row">
 <div class="col-lg-6">
 <div class="box4">
 <h1>Yoga</h1>
 
 <div>Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</div>
 <div class="cricle"><span class="glyphicon glyphicon-play play"></span>
 </div>
<div class="text2"> Browse all Yoga Videos</div>
 </div>
 </div>
 <div class="col-lg-6">
 </div>
 </div>
  </div>
  </div> 
  <div class="image1">
  <div class="container">
  <div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-8">
  <div class="text3">
  <h1>Buddhism</h1>
  <div class="text3">Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</div>
  <div class="text3">Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</div>
  <div class="cricle"><span class="glyphicon glyphicon-play play"></span>
 </div>
 <div class="text2"> Browse all Yoga Videos</div>
 </div>
  </div>
  </div>
  </div>
  </div>
    <div class=" image2">
    <div class="container">
       <div class="row">
       <div class="col-lg-8">
       <div class="text3">
  <h1 class="text4">Sikhism</h1>
  <div class="text4">Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</div>
  <div class="text4">Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</div>
  <div class="cricle"><span class="glyphicon glyphicon-play play"></span>
 </div>
 <div class="text5"> Browse all Sikhism Videos</div>
 </div>
  </div>
  <div class="col-lg-4 ">
      <%= image_tag("sikhlogo.png", :alt => "sikhlogo") %>
       </div>
  </div>
  </div>
           </div>
     

<div class="image3">
    <div class="container"><div class="row>"
 <div class="col-xs-8 col-sm-4 pad"></div>
    <div class="col-xs-8 col-sm-4 pad"></div> 
    <div class="col-xs-6 col-sm-4 pad"></div> 
    <div class="col-xs-6 col-sm-4 pad"></div>   
    </div>
    <div class="container">
       <div class="row">
       <div class="col-lg-8">
       <div class="text3">
  <h1 class="text6">Sikhism</h1>
  <div class="text6">Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</div>
  
  <div class="cricle"><span class="glyphicon glyphicon-play play"></span>
 </div>
 <div class="text5"> Browse all Sikhism Videos</div>
 </div>
  </div>
  <div class="col-lg-4"></div>
    </div>
    </div>
    </div>
  <div class="image4">
  <div class=" container">
  <div class="row">
  <div class="col-lg-12">
  <h1 class="texts">Our Clients like us too</h1>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-2">
   <%= image_tag("photo.png", :alt => "photo") %>
  </div>
  <div class=" col-lg-10">
  <div class="box5"><span class="glyphicon glyphicon-triangle-left"></span>
  <div>“Lopsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</div></div>
  <div class=" jose">Jishnu Kinwar, San Jose</div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
  <h1 class="texts">Ready to learn</h1> </div>
  <div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2">
  <div class="box get start">
Get started 
</div></div></div>
 <div class="col-lg-5"></div>
  </div>
  </div>




<div class="footer">
  <div class=" container">
  <div class="row">
  <div class="col-lg-12 ftexts">Conditions of Use - Privacy Notice© 2015, Cultural Hoops or its affiliates</div>
  </div>
  </div>
  </div>

