<!--
<div class="row">
    <% @enrollments.each do |enrollment| %>
        <div class="col-md-3" data-no-turbolink>
          <%= link_to classroom_path(enrollment.course) do%>
            <div class="thumbnail">
                <%= image_tag enrollment.course.image.url %> 
                <div class="caption center">
                  <h3><%= enrollment.course.name %></h3>
                  <p><%=enrollment.course.level%></p>
                  <p><%=enrollment.course.duration%></p>
                </div>
            </div>
            <%end%>
          </div>
      <% end %>
  </div> -->


<div class="subhead">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="text2 shape">

                </div>
            </div>
            <div class="col-lg-4">
                <div class="box2">
                    <input type="search" class="form-control"/>
                </div>
                <button class="btn box3 search">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Most Popular Courses</h2>

            <div class="clearfix">
                <div class="col-lg-12 bgec pl0 pr0">
                    <ul class="list-inline font13 dashNav">
                        <li class="active">
                           <a href="#"> LEARNING</a>
                        </li>
                        <li>
                            <a href="#"> WISHLIST</a>
                        </li>
                        <li>
                            <a href="#"> LEADERBOARD</a>
                        </li>
                        <li>
                            <a href="#">COMPLETED</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <% @enrollments.each do |enrollment| %>
        <div class="col-lg-3 ">
            <div class="clearfix">
                <div class="col-lg-12 bgLinkColor mt15">
                    <div class="row">
                        <div class="col-lg-8 pr0">
                            <div class="progressDiv pt15 pb15">
                                <div class="progress m0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 60%;">
                                        <span>60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 colorfff font11 pt15 pl0 pr0 tac">
                            12mins 30sec
                        </div>

                    </div>

                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 pt10 courseDetails pr10 pl10">
                    <h4 class="m0 pb10"><%= enrollment.course.name %></h4>
                    <%= image_tag enrollment.course.image.url, :alt => "yoga", :class => "yoga" %>

                    <span class="font12">Added on 02/02/2015</span>

                    <div class="courseDesc">
                        <%= enrollment.course.description %>
                    </div>
                    <div class="pt5 pb5">
                        <strong>Teacher</strong>: <%= enrollment.course.instructor.name %>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 courseInfo">
                    <div class="row">
                        <div class="col-lg-6 pt8 pb8">
                            <%= button_to "Resume", classroom_path(enrollment.course), class: 'btn btn-sm btn-primary'%>

                        </div>
                        <div class="col-lg-6 pt8 pb8">
                            <%=enrollment.course.level%>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <% end %>

    </div>

    <div class="clearfix col-lg-12 brt1 p0 mt15">
        <h3 class="mt15 mb5 colorLink">Recommended for you</h3>
    </div>

    <div class="row">
        <div class="col-lg-3 ">
            <div class="clearfix">
                <div class="col-lg-12 bgLinkColor mt15">
                    <div class="row">
                        <div class="col-lg-8 pr0">
                            <div class="progressDiv pt15 pb15">
                                <div class="progress m0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 60%;">
                                        <span>60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 colorfff font11 pt15 pl0 pr0 tac">
                            12mins 30sec
                        </div>

                    </div>

                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 pt10 courseDetails">
                    <h4 class="m0 pb10">Bakasana (Crane Pose) Tutorial</h4>
                    <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
                    <span class="font12">Added on 02/02/2015</span>

                    <div>
                        Having a smooth and successful taking off into Bakasana is challenging for many yoga
                        practitioners!
                    </div>
                    <div class="pt5 pb5">
                        <strong>Teacher</strong>: Bikram Choudhury
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 courseInfo">
                    <div class="row">
                        <div class="col-lg-6 pt8 pb8">
                            <button class="btn btn-sm btn-primary">
                                Resume
                            </button>
                        </div>
                        <div class="col-lg-6 pt8 pb8">
                            Beginner
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="col-lg-3 ">
            <div class="clearfix">
                <div class="col-lg-12 bgLinkColor mt15">
                    <div class="row">
                        <div class="col-lg-8 pr0">
                            <div class="progressDiv pt15 pb15">
                                <div class="progress m0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 60%;">
                                        <span>60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 colorfff font11 pt15 pl0 pr0 tac">
                            12mins 30sec
                        </div>

                    </div>

                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 pt10 courseDetails">
                    <h4 class="m0 pb10">Bakasana (Crane Pose) Tutorial</h4>
                    <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
                    <span class="font12">Added on 02/02/2015</span>

                    <div>
                        Having a smooth and successful taking off into Bakasana is challenging for many yoga
                        practitioners!
                    </div>
                    <div class="pt5 pb5">
                        <strong>Teacher</strong>: Bikram Choudhury
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 courseInfo">
                    <div class="row">
                        <div class="col-lg-6 pt8 pb8">
                            <button class="btn btn-sm btn-primary">
                                Resume
                            </button>
                        </div>
                        <div class="col-lg-6 pt8 pb8">
                            Beginner
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="col-lg-3 ">
            <div class="clearfix">
                <div class="col-lg-12 bgLinkColor mt15">
                    <div class="row">
                        <div class="col-lg-8 pr0">
                            <div class="progressDiv pt15 pb15">
                                <div class="progress m0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 60%;">
                                        <span>60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 colorfff font11 pt15 pl0 pr0 tac">
                            12mins 30sec
                        </div>

                    </div>

                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 pt10 courseDetails">
                    <h4 class="m0 pb10">Bakasana (Crane Pose) Tutorial</h4>
                    <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
                    <span class="font12">Added on 02/02/2015</span>

                    <div>
                        Having a smooth and successful taking off into Bakasana is challenging for many yoga
                        practitioners!
                    </div>
                    <div class="pt5 pb5">
                        <strong>Teacher</strong>: Bikram Choudhury
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 courseInfo">
                    <div class="row">
                        <div class="col-lg-6 pt8 pb8">
                            <button class="btn btn-sm btn-primary">
                                Resume
                            </button>
                        </div>
                        <div class="col-lg-6 pt8 pb8">
                            Beginner
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="col-lg-3 ">
            <div class="clearfix">
                <div class="col-lg-12 bgLinkColor mt15">
                    <div class="row">
                        <div class="col-lg-8 pr0">
                            <div class="progressDiv pt15 pb15">
                                <div class="progress m0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 60%;">
                                        <span>60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 colorfff font11 pt15 pl0 pr0 tac">
                            12mins 30sec
                        </div>

                    </div>

                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 pt10 courseDetails">
                    <h4 class="m0 pb10">Bakasana (Crane Pose) Tutorial</h4>
                    <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
                    <span class="font12">Added on 02/02/2015</span>

                    <div>
                        Having a smooth and successful taking off into Bakasana is challenging for many yoga
                        practitioners!
                    </div>
                    <div class="pt5 pb5">
                        <strong>Teacher</strong>: Bikram Choudhury
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-lg-12 bgF6 courseInfo">
                    <div class="row">
                        <div class="col-lg-6 pt8 pb8">
                            <button class="btn btn-sm btn-primary">
                                Resume
                            </button>
                        </div>
                        <div class="col-lg-6 pt8 pb8">
                            Beginner
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
