
<div class="row">
    <% @enrollments.each do |enrollment| %>
        <div class="col-md-3" data-no-turbolink>
          <%= link_to classroom_path(enrollment.course) do%>
            <div class="thumbnail">
                <%= image_tag enrollment.course.image.url %> 
                <div class="caption center">
                  <h3><%= enrollment.course.name %></h3>
                  <p><%=enrollment.course.level%></p>
                  <p><%=enrollment.course.duration%></p>
                 
                 
                  
                </div>
            </div>
            <%end%>
          </div>
      <% end %>
  </div> 