<!-- <% if @reviews.blank?%>
                          <h3> No Reviews yet! Be the first to write a review </h3>
                      <% else %>
                          <table class="table">
                            <tbody>
                              <% @reviews.each do |review| %>
                            </tbody>
                            <tr>
                              <td>
                                <div class ="star-rating" data-score="<%=review.rating%>">

                                </div>
                                <p> <%= review.comment %> </p>
                                <p> <%= review.user.name %></p>
                              </td>
                            </tr>
                            <% end %>
                          </table>



                      <%end%>-->





<div class="courseContent clearfix pb0">
 <% if @reviews.blank?%>
 <h3> No Reviews yet! Be the first to write a review </h3>
 <% else %>
     <% @reviews.each do |review| %>


  <div class="col-lg-2 pt10"><div class ="star-rating" data-score="<%=review.rating%>">
  </div></div>
    <div class="col-lg-10 pt10 bold">     <p> <%= review.user.name %></p></div>
    <div class="col-lg-12 brb1 brdcd8 pt5"><p> <%= review.comment %> </p></div>



     <% end %>


 <%end%>
</div>




