<div class="form-group">
    <%= f.label :level %><br>
    <%= f.text_field :level, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration %><br>
    <%= f.number_field :duration, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :format %><br>
    <%= f.text_field :format, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: 'form-control' %>
  </div>