
<%= render partial: 'layouts/hamburger_menu' %>

<div class="container">
  
  
    <div class="col-lg-4 bgec adHeight">
      <div class="clearfix">
        <div class="tac bgc52666 colorfff font16 mt10 pt10 pb10 brb5">
         <a href="#" class="colorfff"> All Yoga Videos </a>
        </div>
        <ul class="list-unstyled bgfff mb10">
          <li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
          <li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
          <li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
          <li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
          <li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
          <li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
          <li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
        </ul>
        
        
      </div>
      
      
    </div>
    <div class="col-lg-8 tcHeight">
      <h3 class="mt10 colorc52666">Most Popular Courses</h3>
      <div class="row mb15">
          <div id="courselistings">
            <%=render 'courses'%>
          </div>


<br>
        
      
        <div class="clearfix col-lg-12 brt1 p0">
          <h3 class="mt15 mb15 colorLink">All Yoga Courses</h3>
        </div>
      <div class="row">
        <div class="col-lg-4 pr5">
          <div class="courseDetails bgF6">
          <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
          <h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
          <div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
          <div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
          </div>
          <div class="courseInfo bgF6 font12">
          <div class="row"> 
          <div class="col-lg-6">
            <div class="favDiv pl8 pt8">
            <i class="fa fa-heart colorc52666"></i> Add to Favorite
            </div>
            </div>
          <div class="col-lg-6">
            <div class="classificationDiv pt8">
            Beginner
            </div>
          </div>
          </div>
          <div class="row"> 
          <div class="col-lg-6">
            <div class="ratingDiv pl8 pt8 pb8">
            <div class="rating">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
              Rating
            </div>  
          </div>
          <div class="col-lg-6">&nbsp; </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 pr5">
          <div class="courseDetails bgF6">
          <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
          <h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
          <div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
          <div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
          </div>
          <div class="courseInfo bgF6 font12">
          <div class="row"> 
          <div class="col-lg-6">
            <div class="favDiv pl8 pt8">
            <i class="fa fa-heart colorc52666"></i> Add to Favorite
            </div>
            </div>
          <div class="col-lg-6">
            <div class="classificationDiv pt8">
            Beginner
            </div>
          </div>
          </div>
          <div class="row"> 
          <div class="col-lg-6">
            <div class="ratingDiv pl8 pt8 pb8">
            <div class="rating">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
              Rating
            </div>  
          </div>
          <div class="col-lg-6">&nbsp; </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 pr5">
          <div class="courseDetails bgF6">
          <%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
          <h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
          <div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
          <div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
          </div>
          <div class="courseInfo bgF6 font12">
          <div class="row"> 
          <div class="col-lg-6">
            <div class="favDiv pl8 pt8">
            <i class="fa fa-heart colorc52666"></i> Add to Favorite
            </div>
            </div>
          <div class="col-lg-6">
            <div class="classificationDiv pt8">
            Beginner
            </div>
          </div>
          </div>
          <div class="row"> 
          <div class="col-lg-6">
            <div class="ratingDiv pl8 pt8 pb8">
            <div class="rating">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
              Rating
            </div>  
          </div>
          <div class="col-lg-6">&nbsp; </div>
          </div>
          </div>
        </div>
      </div>
      
      
    </div>

</div>

<script type="text/javascript">
$(function(){
   $('.pagination a').attr('data-remote', 'true')
});

  $('.star-rating').raty({
      path: 'https://s3.amazonaws.com/culturehoops/stars/',
      hints: ['Not Bad', 'Good', 'Very Good', 'Excellent', 'Awesome'],
      readOnly: true,
      score: function() {
              return $(this).attr('data-score');
  }

  })

$(window).load(function(){
$(".adHeight").height($(".tcHeight").height());
});

</script>


