<div class="center">
  <div class="row">
    <% if @courses.count > 0%>
        <% @courses.each do |course| %>
            <div class="col-md-3">
                <div class="thumbnail">
                    <%= link_to image_tag(course.image.url), course %> 
                    <div class="caption">
                      <h3><%= course.name %></h3>
                      <p><%=course.level%></p>
                      <p><%=course.duration%></p>
                     <hr>
                    <% if course.reviews.length > 0 %>
                     <div class ="star-rating" data-score="<%=course.reviews.average(:rating).round(2)%>"></div><%= "(#{course.reviews.length})" %>
                     <% else %>
                        <div class ="star-rating" data-score="0"></div>
                    <% end %>
                      
                    </div>
                </div>
              </div>
          <% end %>
    <% else %>
        <h2> Sorry, No courses found!! </h2>
    <% end %>
  </div> 
</div>