<%= render partial: 'layouts/hamburger_menu' %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn-primary btn-xs mb10 mt10"><i class="fa fa-arrow-left"></i> BACK TO DASHBOARD</button>
            <div class="row">
                <div class="col-lg-8 pr0">
                    <%= image_tag @course.image.url, :alt => "page4Header", :class => "page4Header"%>
                </div>
                <div class="col-lg-4 bgF6 font11 imgHeight">
                    <div class="row courseDetails">
                        <div class="col-lg-12 font12">
                            <div class="font18 tac pb8 pt5"><%= @course.name %></div>
                            <p class="mb5 courseDescLong">
                                <%= h(@course.description).gsub(/\n/,'<br>').html_safe %>
                            </p>

                            <div class="pb5"><strong>Teacher</strong>: <%= @course.instructor.name %></div>
                        </div>
                    </div>
                    <div class="row courseInfo bgF6 font12">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="favDiv pt5">
                                        <i class="fa fa-heart colorc52666"></i> <span
                                            class="font10">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="classificationDiv pt5">
                                        <span class="font10"> <%= @course.level %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="ratingDiv pt5 pb5">
                                        <div class="star-rating" data-score="<%=@avg_rating%>"></div>
                                        <span class="font10">  
                                            <% if @reviews %>
                                                <%= "#{@reviews.length} reviews" %>
                                            <%else%>
                                                No Reviews
                                            <%end%>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">&nbsp; </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 tac ptb3">


                                    <% if user_signed_in? %>
                                    <% if Enrollment.where(user_id: current_user.id , course_id: @course.id ).count == 0
                                    %>
                                    <div class="center">
                                        <%= link_to "Join This Course", course_enrollments_path(@course), method: :post,
                                        class: "btn btn-sm btn-primary"%>
                                    </div>
                                    <!--  otherwise show resume course button-->
                                    <% else %>
                                    <div class="center">
                                        <%= link_to "Resume", new_course_review_path(@course), class: "btn btn-sm
                                        btn-primary" %>
                                    </div>
                                    <% end %>
                                    <br>
                                    <%= link_to "Write a Review", new_course_review_path(@course), class: "btn btn-sm
                                    btn-primary mb10" %>
                                    <% else %>
                                    <!-- User not signed in -->
                                    <div class="center">
                                        <%= link_to "Join This Course", course_enrollments_path(@course), method: :post,
                                        class: "btn btn-primary btn-lg"%>
                                    </div>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt10">
                <div class="col-lg-9">


                        <div class="col-lg-12 bootstrap-tagsinput">
                            <!--tags div start-->
                            <span class="tag label label-info">Amsterdam<span data-role="remove"></span></span> <span
                                class="tag label label-info">Washington<span data-role="remove"></span></span> <span
                                class="tag label label-info">Sydney<span data-role="remove"></span></span> <span
                                class="tag label label-info">Beijing<span data-role="remove"></span></span> <span
                                class="tag label label-info">Cairo<span data-role="remove"></span></span>

                            <span
                                class="twitter-typeahead"
                                style="position: relative; display: inline; direction: ltr;">
                                    <input type="text" style="width: 3em !important; position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);"
                                           class="tt-hint" readonly=""  autocomplete="off" spellcheck="false" tabindex="-1">
                                <input  type="text" placeholder=""  style="width: 3em !important; position: relative; vertical-align: top; background-color: transparent;"  class="tt-input" autocomplete="off" spellcheck="false" dir="auto">
                                <pre  aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                class="tt-dropdown-menu"
                                style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div
                                class="tt-dataset-cities"></div></span></span>

                        </div>




                    <!--TABS STRUCTURE START-->
                    <div role="tabpanel" class="clearfix mt10">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs bge2e2e2 font12 showCourseTab" role="tablist">
                            <li role="presentation" class="active"><a href="#course" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Couse Content</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Instructor Profile</a></li>
                            <li role="presentation"><a href="#review" aria-controls="messages" role="tab"
                                                       data-toggle="tab">Review</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content bgF6 p0">
                            <div role="tabpanel" class="tab-pane active" id="course">
                                <!-- content start-->
                                <%= render 'coursecurriculum' %>
                                <!-- course content ends -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <%= render 'instructor_profile' %>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="review">
                                <%= render 'course_reviews' %>
                            </div>
                        </div>

                    </div>
                    <!--TABS STRUCTURE END-->
                </div>
                <div class="col-lg-3 bgF6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="font12 mt10 colorLink">Similar Courses</h3>
                            
                        </div>

                    </div>
                    <div class="row">
                        <div id="more-courses-by-same-instructor">
                            <%=render 'more_courses_by_same_instructor'%>

                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="clearfix col-lg-12 brt1 p0 mt15">
                <h3 class="mt10 mb10 colorLink font16">Recommended for you</h3>
            </div>

            <div class="row">
                <div class="col-lg-3 pr5 font11">
                    <div class="courseDetails  bgF6">
                        <img alt="yoga" class="yoga" src="/assets/yoga.png">
                        <h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>

                        <div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for
                            many
                            yoga Practitoners!
                        </div>
                        <div class="pl8 pr8 pt5 pb5"><strong>Teacher</strong>: Bikram Chaudhary</div>
                    </div>
                    <div class="courseInfo bgF6 font12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="favDiv pl8 pt8">
                                    <i class="fa fa-heart colorc52666"></i> Add to Favorite
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="classificationDiv pt8">
                                    Beginner
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ratingDiv pl8 pt8 pb8">
                                    <div class="rating">
                                        <span>?</span><span>?</span><span>?</span><span>?</span><span>?</span>
                                    </div>
                                    Rating
                                </div>
                            </div>
                            <div class="col-lg-6">&nbsp; </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pr5 font11">
                    <div class="courseDetails bgF6">
                        <img alt="yoga" class="yoga" src="/assets/yoga.png">
                        <h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>

                        <div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for
                            many
                            yoga Practitoners!
                        </div>
                        <div class="pl8 pr8 pt5 pb5"><strong>Teacher</strong>: Bikram Chaudhary</div>
                    </div>
                    <div class="courseInfo bgF6 font12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="favDiv pl8 pt8">
                                    <i class="fa fa-heart colorc52666"></i> Add to Favorite
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="classificationDiv pt8">
                                    Beginner
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ratingDiv pl8 pt8 pb8">
                                    <div class="rating">
                                        <span>?</span><span>?</span><span>?</span><span>?</span><span>?</span>
                                    </div>
                                    Rating
                                </div>
                            </div>
                            <div class="col-lg-6">&nbsp; </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pr5 font11">
                    <div class="courseDetails bgF6">
                        <img alt="yoga" class="yoga" src="/assets/yoga.png">
                        <h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>

                        <div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for
                            many
                            yoga Practitoners!
                        </div>
                        <div class="pl8 pr8 pt5 pb5"><strong>Teacher</strong>: Bikram Chaudhary</div>
                    </div>
                    <div class="courseInfo bgF6 font12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="favDiv pl8 pt8">
                                    <i class="fa fa-heart colorc52666"></i> Add to Favorite
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="classificationDiv pt8">
                                    Beginner
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ratingDiv pl8 pt8 pb8">
                                    <div class="rating">
                                        <span>?</span><span>?</span><span>?</span><span>?</span><span>?</span>
                                    </div>
                                    Rating
                                </div>
                            </div>
                            <div class="col-lg-6">&nbsp; </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pr5 font11">
                    <div class="courseDetails bgF6">
                        <img alt="yoga" class="yoga" src="/assets/yoga.png">
                        <h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>

                        <div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for
                            many
                            yoga Practitoners!
                        </div>
                        <div class="pl8 pr8 pt5 pb5"><strong>Teacher</strong>: Bikram Chaudhary</div>
                    </div>
                    <div class="courseInfo bgF6 font12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="favDiv pl8 pt8">
                                    <i class="fa fa-heart colorc52666"></i> Add to Favorite
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="classificationDiv pt8">
                                    Beginner
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ratingDiv pl8 pt8 pb8">
                                    <div class="rating">
                                        <span>?</span><span>?</span><span>?</span><span>?</span><span>?</span>
                                    </div>
                                    Rating
                                </div>
                            </div>
                            <div class="col-lg-6">&nbsp; </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    $('.star-rating').raty({
        path: 'https://s3.amazonaws.com/culturehoops/stars/',
        hints: ['Not Bad', 'Good', 'Very Good', 'Excellent', 'Awesome'],
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        }
    });


$(function(){
   $('.pagination a').attr('data-remote', 'true')
});

    $(window).load(function () {
        $(".imgHeight").height($("img.page4Header").height());
    });



</script>
