

  <div class="row">
      <p id="notice"><%= notice %></p>
      <%= render 'coursesidebarlayout' %>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row">
              <div class="col-sm-5 col-md-6">
                  <div class="thumbnail">
                      <%= image_tag @course.image.url%>
                  </div>
              </div>
              <div class="col-sm-4 col-md-4">
                  <h3><%= @course.name %></h3>
                    <p><%= @course.description %></p>
                  </p> <strong>Level:</strong><%= @course.level %></p>
                  <p><strong>Duration:</strong><%= @course.duration %></p>
                  <p><strong>Format:</strong><%= @course.format %></p>
              </div>


          </div>
          <div class="row">
            <%= link_to 'Edit', edit_course_path(@course) , class: "btn btn-link"%> |
            <%= link_to 'Next', new_course_section_path(@course), class: "btn btn-link" %>
          </div>
      </div>
    
    

  </div>
    

