<div class="subhead">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="text2 shape">
					<a href="/categories"> <span class="glyphicon glyphicon-menu-hamburger"></span> Browse The Library </a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box2">
					<input type="search" class="form-control" />
				</div>
				<button class="btn box3 search">
					Search
				</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	
		<div class="col-lg-4 bgec adHeight">
			<div class="clearfix">
				<div class="tac bgc52666 colorfff font16 mt10 pt10 pb10 brb5">
					All Yoga Videos
				</div>
				<ul class="list-unstyled bgfff mb10">
					<li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
					<li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
					<li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
					<li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
					<li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
					<li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
					<li class="brb1 pt5 pb5 pl8"><div>Index One</div><span class="colorLink">test</span></li>
				</ul>
				
				
			</div>
			
			
		</div>
		<div class="col-lg-8 tcHeight">
			<h3 class="mt10 colorc52666">Most Popular Courses</h3>
			<div class="row mb15">
				<div class="col-lg-4 pr5">
					<div class="courseDetails bgF6">
					<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
					<h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
					<div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
					<div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
					</div>
					<div class="courseInfo bgF6 font12">
					<div class="row">	
					<div class="col-lg-6">
						<div class="favDiv pl8 pt8">
						<i class="fa fa-heart colorc52666"></i>Add to Favorite
						</div>
						</div>
					<div class="col-lg-6">
						<div class="classificationDiv pt8">
						Beginner
						</div>
					</div>
					</div>
					<div class="row">	
					<div class="col-lg-6">
						<div class="ratingDiv pl8 pt8 pb8">
						<div class="rating">
									<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
						</div>
							Rating
						</div>	
					</div>
					<div class="col-lg-6">&nbsp; </div>
					</div>
					</div>
				</div>
				<div class="col-lg-4 pr5">
					<div class="courseDetails bgF6">
					<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
					<h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
					<div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
					<div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
					</div>
					<div class="courseInfo bgF6 font12">
					<div class="row">	
					<div class="col-lg-6">
						<div class="favDiv pl8 pt8">
						<i class="fa fa-heart colorc52666"></i> Add to Favorite
						</div>
						</div>
					<div class="col-lg-6">
						<div class="classificationDiv pt8">
						Beginner
						</div>
					</div>
					</div>
					<div class="row">	
					<div class="col-lg-6">
						<div class="ratingDiv pl8 pt8 pb8">
						<div class="rating">
									<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
						</div>
							Rating
						</div>	
					</div>
					<div class="col-lg-6">&nbsp; </div>
					</div>
					</div>
				</div>
				<div class="col-lg-4 pr5">
					<div class="courseDetails bgF6">
					<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
					<h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
					<div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
					<div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
					</div>
					<div class="courseInfo bgF6 font12">
					<div class="row">	
					<div class="col-lg-6">
						<div class="favDiv pl8 pt8">
						<i class="fa fa-heart colorc52666"></i> Add to Favorite
						</div>
						</div>
					<div class="col-lg-6">
						<div class="classificationDiv pt8">
						Beginner
						</div>
					</div>
					</div>
					<div class="row">	
					<div class="col-lg-6">
						<div class="ratingDiv pl8 pt8 pb8">
						<div class="rating">
									<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
						</div>
							Rating
						</div>	
					</div>
					<div class="col-lg-6">&nbsp; </div>
					</div>
					</div>
				</div>
			</div>
			
				<div class="clearfix col-lg-12 brt1 p0">
					<h3 class="mt15 mb15 colorLink">All Yoga Courses</h3>
				</div>
			<div class="row">
				<div class="col-lg-4 pr5">
					<div class="courseDetails bgF6">
					<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
					<h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
					<div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
					<div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
					</div>
					<div class="courseInfo bgF6 font12">
					<div class="row">	
					<div class="col-lg-6">
						<div class="favDiv pl8 pt8">
						<i class="fa fa-heart colorc52666"></i> Add to Favorite
						</div>
						</div>
					<div class="col-lg-6">
						<div class="classificationDiv pt8">
						Beginner
						</div>
					</div>
					</div>
					<div class="row">	
					<div class="col-lg-6">
						<div class="ratingDiv pl8 pt8 pb8">
						<div class="rating">
									<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
						</div>
							Rating
						</div>	
					</div>
					<div class="col-lg-6">&nbsp; </div>
					</div>
					</div>
				</div>
				<div class="col-lg-4 pr5">
					<div class="courseDetails bgF6">
					<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
					<h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
					<div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
					<div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
					</div>
					<div class="courseInfo bgF6 font12">
					<div class="row">	
					<div class="col-lg-6">
						<div class="favDiv pl8 pt8">
						<i class="fa fa-heart colorc52666"></i> Add to Favorite
						</div>
						</div>
					<div class="col-lg-6">
						<div class="classificationDiv pt8">
						Beginner
						</div>
					</div>
					</div>
					<div class="row">	
					<div class="col-lg-6">
						<div class="ratingDiv pl8 pt8 pb8">
						<div class="rating">
									<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
						</div>
							Rating
						</div>	
					</div>
					<div class="col-lg-6">&nbsp; </div>
					</div>
					</div>
				</div>
				<div class="col-lg-4 pr5">
					<div class="courseDetails bgF6">
					<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
					<h5 class="pl8 pr8">Baksana (Crane Pose) Tutorial</h5>
					<div class="pl8 pr8">Having a smooth and successfull taking off into baksana of challanging for many yoga Practitoners!</div>
					<div class="pl8 pr8 pt5 pb5"> <strong>Teacher</strong>: Bikram Chaudhary</div>
					</div>
					<div class="courseInfo bgF6 font12">
					<div class="row">	
					<div class="col-lg-6">
						<div class="favDiv pl8 pt8">
						<i class="fa fa-heart colorc52666"></i> Add to Favorite
						</div>
						</div>
					<div class="col-lg-6">
						<div class="classificationDiv pt8">
						Beginner
						</div>
					</div>
					</div>
					<div class="row">	
					<div class="col-lg-6">
						<div class="ratingDiv pl8 pt8 pb8">
						<div class="rating">
									<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
						</div>
							Rating
						</div>	
					</div>
					<div class="col-lg-6">&nbsp; </div>
					</div>
					</div>
				</div>
			</div>
			
			
		</div>
	
	
	
	
	

<!-- <h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= link_to 'Show', category, class:"btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class:"btn btn-link" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %> -->
<script>
	$(document).ready(function(){
		$(".adHeight").height($(".tcHeight").height());
	});
	
</script>


</div>
