<div class="modal fade" id="join" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-join">
    <div class="modal-content">
    <!--
    
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Signup</h4>
          </div>-->
  
      <div class="modal-body">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      	<div class="row">
      	<div class="col-lg-6">
            <h1 class="modal-title colorc52666 font24" id="myModalLabel">Signup</h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

            	<div class="row mt15">
            		<div class="col-lg-3 tar"><%= f.label :name %>: </div>
            		<div class="col-lg-7"><%= f.text_field :name, autofocus: true, class: "form-control"  %></div>
					<div class="col-lg-2"></div>
            		
            	</div>
            	<div class="row mt15">
            		<div class="col-lg-3 tar"><%= f.label :email %>: </div>
            		<div class="col-lg-7"><%= f.email_field :email, class: "form-control"  %></div>
					<div class="col-lg-2"></div>
            	</div>
            	<div class="row mt15">
            		<div class="col-lg-3 tar"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>: </div>
            		<div class="col-lg-7"><%= f.password_field :password, autocomplete: "off", class: "form-control"  %></div>
					<div class="col-lg-2"></div>
            	</div>
            	<div class="row mt15">
            		<div class="col-lg-3 tar">Gender:</div>
            		<div class="col-lg-3"><%= f.radio_button :gender, "Male", :checked => (:gender == 'Male') %> <%= label_tag(:gender, "Male") %></div>
            		<div class="col-lg-4"><%= f.radio_button :gender, "Female", :checked => (:gender == 'Female') %> <%= label_tag(:gender, "Female") %></div>
					<div class="col-lg-2"></div>
            	</div>
            	
            		<div class="row mt15 mb15">
            		<div class="col-lg-12 tac"><%= f.submit "Sign up with Culture Hoops", class: "btn btn-primary"%></div>
            		
            	</div>
              <% end %>
			<div class="row mt10">
				<div class="col-lg-12 tac font11">*By Signing Up, you agree to the T&C</div>
				<div class="row mt8 mb8">
					<div class="col-lg-1"></div>
					<div class="col-lg-4 brt1 mt10"></div>
					<div class="col-lg-2 tac">OR</div>
					<div class="col-lg-4 brt1 mt10"></div>
					<div class="col-lg-1"></div>
				</div>

				<div class="col-lg-6 tac"><%= render partial: 'layouts/facebook_widget'%></div>
				<div class="col-lg-6 tac"><%= render partial: 'layouts/google_widget'%>
					<!--<a class="btn btn-social btn-google">-->
					<!--<i class="fa fa-google-plus"></i> Sign in with Google-->
					<!--</a>-->
				</div>
			</div>

  
      </div>
      <div class="col-lg-6">

        <div class="row">
	    	<div class="col-lg-12">&nbsp;</div>
        </div>

        <div class="row">
        	<div class="col-lg-12">
				<div class="model-brt1">
				<h2 class="colorLink font24 mt10">Benefit of Joining Culture Hoops</h2>
				<ul class="ml15 listStyleColor list-unstyled"><li>Access to all content</li><li>Manage your courses</li><li>Keep track of where you left off</li><li>Share with friends</li><li>Invite friends to learn together</li><li>Be part of a community</li></ul></div>
			</div>
		</div>

        
      </div>
      </div>
      
      
      </div>
      <!--
      <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->

	<!--SUCCESS MEESAGE AS A MODEL POP START-->
		<div class="row" style="display: none">
			<div class="col-lg-3">
				<%= image_tag("yoga.png", :alt => "yoga", :class => "yoga") %>
			</div>
			<div class="col-lg-5">
				<h2>Congratulations! You have enrolled In</h2>
				<h1>Discover your Culture Hoops</h1>
				<h4>By Teacher Range</h4>
			</div>
			<div class="col-lg-4 tac">
				<button class="btn btn-primary btn-md">Continue to Course</button>
			</div>
		</div>
		<!--SUCCESS MEESAGE AS A MODEL POP END-->
    </div>
  </div>
</div>